html {
  font-size: 25px;
}

header {
  height: 30rem;
  
  nav {

    h3 {
      padding-left: 2rem;
    }

    h3 a {
      font-size: 1.2rem;
    }


    ul li {
      font-size: 0.9rem;
    }

    ul li a {
      text-decoration: none;
      color: $White;
    }
  }

  .header__hero--shows {
    display: block;
    h2 {
    position: absolute;
    top: 9rem;
    left: 2rem;
    }
    h1 {
      position: absolute;
      top: 12rem;
    }
    iframe {
      width: 560px;
      height: 180px;
      position: absolute;
      top: 22rem;
      left: 2rem;
    }
  }

  .header__hero h1 {
    left: 2rem;
    bottom: 15rem;
  }

  .header__hero--img {
    height: 25rem;
  }

  .hero__img--shows {
    height: 27rem;
  }

}

header.shows--header {
  height: 32rem;
}

main {

  .shows__table--data {
    padding: 4.2rem 0rem 0rem 0rem;
  }

  h2.header--shows{
    position: absolute;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
}

  .table__data--header,
  .data--date,
  .data--venue,
  .data--location {
    padding-right: 1rem !important;
  }


  h2 {
    padding-left: 0rem;
  }
  .main__section--1 {
    max-width: 80%;

  }


  aside {

    width: 28rem;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 1.1rem;
    span {
      font-size: 0.8rem;
    }
  }

  .main__paragraphs {
    
    .main__paragraphs--1{
      font-size: 0.8rem;

    }
    .main__paragraphs--2{
      font-size: 0.8rem;
    }
  }

  .main__section--2 {

  .photoGallery img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .main__photoGallery--row1,
  .main__photoGallery--row2,
  .main__photoGallery--row3 {
    width: 95%;
    display:flex;
    margin-left: auto;
  margin-right: auto;

    .main__photoGallery--image1,
    .main__photoGallery--image2,
    .main__photoGallery--image3,
    .main__photoGallery--image4,
    .main__photoGallery--image5,
    .main__photoGallery--image6 {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      padding-bottom: 0.6rem;
    }

    .main__photoGallery--image7,
    .main__photoGallery--image8,
    .main__photoGallery--image9 {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      padding-bottom: 1.6rem;
    }
  }
}
}

footer {
  font-size: 22px;
  h3 {
    padding-right: 2rem;
  }

  .footer__staff {
    display: flex;
    padding-left: 2rem;
    font-size: 0.7rem;
    .footer__staff--camAdams, .footer__staff--pearlGregg {
    margin-right: 2rem;
    }
  }
  
  .footer__copyright {
    padding-left: 2rem;
    font-size: 0.7rem;
  }

}




