* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
body {
  font-family: "AvenirNextLTPro-Regular";
  font-weight: 400;
}

header {
  background-color: #323232;
  padding-bottom: 0px;
}
header nav {
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #323232;
  color: #FFFFFF;
}
header nav h3 {
  padding: 1.8rem;
  text-transform: uppercase;
  padding-left: 5rem;
}
header nav h3 a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.2rem;
}
header nav .nav__biography {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 1.84rem;
  padding-left: 1.7rem;
  padding-right: 1.8rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  padding-top: 2rem;
  margin: 0 auto;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
header .header__hero h1 {
  position: relative;
  font-size: 3rem;
  font-family: "AvenirNextLTPro-Demi";
  color: #FFFFFF;
  height: 0;
  left: 7rem;
  bottom: 23rem;
}
header .header__hero--img {
  opacity: 0.5;
  min-height: 40rem;
  width: 100%;
  height: 39rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  line-height: 160%;
}
main h2 {
  font-size: 1.8rem;
  font-family: "AvenirNextLTPro-Demi";
  padding-left: 7rem;
  padding-top: 2rem;
  padding-bottom: 1.8rem;
}
main .main__section--1 {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .main__image--performance1 img {
  padding-bottom: 1.8rem;
  width: 100%;
}
main aside {
  text-align: left;
  width: 35rem;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.1rem;
}
main aside span {
  font-size: 0.9rem;
}
main h3 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
main .main__paragraphs {
  display: flex;
}
main .main__paragraphs .main__paragraphs--1 {
  flex: 1;
  margin-right: 1rem;
  font-size: 0.9rem;
  padding-bottom: 2rem;
}
main .main__paragraphs .main__paragraphs--2 {
  flex: 1;
  font-size: 0.9rem;
  padding-bottom: 2rem;
}
main .main__section--2 {
  background-color: #FAFAFA;
}
main .main__section--2 .photoGallery img {
  max-width: 19rem;
}
main .main__section--2 .main__photoGallery--row1,
main .main__section--2 .main__photoGallery--row2,
main .main__section--2 .main__photoGallery--row3 {
  margin: 0 auto;
  width: 82%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image6,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image6,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image6 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.8rem;
}
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image9,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image9,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image9 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
}
footer h2, footer .footer__block1--social {
  display: inline-block;
  padding-right: 2rem;
}
footer .footer__block1--social img {
  padding-right: 1.5rem;
}
footer h3 {
  float: right;
  padding-right: 7rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Regular";
}
footer h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer__staff {
  display: flex;
  padding-left: 7rem;
  font-size: 0.9rem;
}
footer .footer__staff .footer__staff--camAdams, footer .footer__staff .footer__staff--pearlGregg {
  margin-right: 3rem;
}
footer .footer__copyright {
  padding-left: 7rem;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  html {
    font-size: 19px;
  }
  .main__photoGallery--image1 img,
.main__photoGallery--image2 img,
.main__photoGallery--image3 img,
.main__photoGallery--image4 img,
.main__photoGallery--image5 img,
.main__photoGallery--image6 img,
.main__photoGallery--image7 img,
.main__photoGallery--image8 img,
.main__photoGallery--image9 img {
    width: 260px;
  }
}
@media only screen and (max-width: 479px) {
  html {
    font-size: 23px;
  }
  .main__photoGallery--image1 img,
.main__photoGallery--image2 img,
.main__photoGallery--image3 img,
.main__photoGallery--image4 img,
.main__photoGallery--image5 img,
.main__photoGallery--image6 img,
.main__photoGallery--image7 img,
.main__photoGallery--image8 img,
.main__photoGallery--image9 img {
    width: 100%;
  }
}/*# sourceMappingURL=bio.css.map */