* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.25px;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro.ttf");
}
body {
  font-family: "AvenirNextLTPro-Regular";
  font-weight: 400;
}

header {
  background-color: #323232;
  padding-bottom: 0px;
}
header nav {
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #323232;
  color: #FFFFFF;
}
header nav h3 {
  padding: 1.8rem;
  text-transform: uppercase;
  padding-left: 5rem;
}
header nav h3 a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.2rem;
}
header nav .nav__shows {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 1.84rem;
}
header nav .nav__biography {
  padding-left: 1.7rem;
  padding-right: 1.8rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  padding-top: 2rem;
  margin: 0 auto;
  font-size: 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
header .header__hero h2 {
  position: relative;
  font-size: 1.4rem;
  font-family: "AvenirNextLTPro-Demi";
  color: #FFFFFF;
  height: 0;
  left: 7rem;
  bottom: 24rem;
}
header .header__hero h1 {
  position: relative;
  font-size: 3.2rem;
  font-family: "AvenirNextLTPro-Demi";
  color: #FFFFFF;
  height: 0;
  left: 7rem;
  bottom: 21rem;
}
header .hero__img--shows {
  opacity: 0.5;
  width: 100%;
  height: 36rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header iframe {
  position: absolute;
  right: 5rem;
  top: 18rem;
}

main {
  line-height: 160%;
}
main h2 {
  position: absolute;
  font-size: 1.8rem;
  font-family: "AvenirNextLTPro-Demi";
  padding-left: 7rem;
  padding-top: 2rem;
  padding-bottom: 1.8rem;
}
main .main__section--1 {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .main__image--performance1 img {
  padding-bottom: 1.8rem;
  width: 100%;
}
main aside {
  text-align: left;
  width: 35rem;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.1rem;
}
main aside span {
  font-size: 0.9rem;
}
main h3 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.shows__table--data {
  padding-top: 1.3rem;
  padding-bottom: 2.5rem;
  padding-left: 17rem;
}
.shows__table--data .button {
  padding: 15px 35px;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Bold";
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  display: block;
}
.shows__table--data .table__data--header {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Bold";
  color: #AFAFAF;
  border-bottom: 0px solid white;
}
.shows__table--data .table__data--header {
  padding-right: 5rem;
}
.shows__table--data .table-row:hover {
  background-color: #FAFAFA;
}
.shows__table--data .table-row:active {
  background-color: #E1E1E1;
}
.shows__table--data .selected-row {
  background-color: #E1E1E1;
}
.shows__table--data .data--date {
  padding-right: 5rem;
  font-family: "AvenirNextLTPro-Bold";
  font-size: 0.9rem;
}
.shows__table--data .data--venue,
.shows__table--data .data--location {
  padding-right: 5rem;
  font-size: 0.9rem;
}
.shows__table--data table,
.shows__table--data td {
  border-bottom: 2px solid #E1E1E1;
  border-collapse: collapse;
}
.shows__table--data tr td {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  font-size: 0.9rem;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
}
footer h2, footer .footer__block1--social {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 4rem;
}
footer .footer__block1--social {
  padding-top: 2.2rem;
  padding-left: 22rem;
  position: absolute;
}
footer .footer__block1--social img {
  padding-right: 1.5rem;
  display: inline-block;
}
footer h3 {
  float: right;
  padding-right: 7rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Regular";
}
footer h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer__staff {
  display: flex;
  padding-left: 7rem;
  padding-top: 6rem;
  font-size: 0.9rem;
}
footer .footer__staff .footer__staff--camAdams, footer .footer__staff .footer__staff--pearlGregg {
  margin-right: 3rem;
}
footer .footer__copyright {
  padding-left: 7rem;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 25px;
  }
  header {
    height: 30rem;
  }
  header nav h3 {
    padding-left: 2rem;
  }
  header nav h3 a {
    font-size: 1.2rem;
  }
  header nav ul li {
    font-size: 0.9rem;
  }
  header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  header .header__hero--shows {
    display: block;
  }
  header .header__hero--shows h2 {
    position: absolute;
    top: 9rem;
    left: 2rem;
  }
  header .header__hero--shows h1 {
    position: absolute;
    top: 12rem;
  }
  header .header__hero--shows iframe {
    width: 560px;
    height: 180px;
    position: absolute;
    top: 22rem;
    left: 2rem;
  }
  header .header__hero h1 {
    left: 2rem;
    bottom: 15rem;
  }
  header .header__hero--img {
    height: 25rem;
  }
  header .hero__img--shows {
    height: 27rem;
  }
  header.shows--header {
    height: 32rem;
  }
  main .shows__table--data {
    padding: 4.2rem 0rem 0rem 0rem;
  }
  main h2.header--shows {
    position: absolute;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
  }
  main .table__data--header,
main .data--date,
main .data--venue,
main .data--location {
    padding-right: 1rem !important;
  }
  main h2 {
    padding-left: 0rem;
  }
  main .main__section--1 {
    max-width: 80%;
  }
  main aside {
    width: 28rem;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 1.1rem;
  }
  main aside span {
    font-size: 0.8rem;
  }
  main .main__paragraphs .main__paragraphs--1 {
    font-size: 0.8rem;
  }
  main .main__paragraphs .main__paragraphs--2 {
    font-size: 0.8rem;
  }
  main .main__section--2 .photoGallery img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  main .main__section--2 .main__photoGallery--row1,
main .main__section--2 .main__photoGallery--row2,
main .main__section--2 .main__photoGallery--row3 {
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image6,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image6,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image1,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image2,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image3,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image4,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image5,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image6 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
  }
  main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row1 .main__photoGallery--image9,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row2 .main__photoGallery--image9,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image7,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image8,
main .main__section--2 .main__photoGallery--row3 .main__photoGallery--image9 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 1.6rem;
  }
  footer {
    font-size: 22px;
  }
  footer h3 {
    padding-right: 2rem;
  }
  footer .footer__staff {
    display: flex;
    padding-left: 2rem;
    font-size: 0.7rem;
  }
  footer .footer__staff .footer__staff--camAdams, footer .footer__staff .footer__staff--pearlGregg {
    margin-right: 2rem;
  }
  footer .footer__copyright {
    padding-left: 2rem;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 30px;
  }
}/*# sourceMappingURL=shows.css.map */