@import "partials/global";

$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

header {
  background-color: $BandSite-Black;
  padding-bottom: 0px;

  nav {
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: $BandSite-Black;
    color: $White;

    h3 {
      padding: 1.8rem;
      text-transform: uppercase;
      padding-left: 5rem;
    }

    h3 a {
      text-decoration: none;
      color: $White;
      font-size: 1.2rem;
    }

    .nav__shows {
      text-decoration: underline;
      text-decoration-color: $White;
      text-decoration-thickness: 0.25rem;
      text-underline-offset: 1.84rem;
    }

    .nav__biography {
      padding-left: 1.7rem;
      padding-right: 1.8rem;
    }

    ul {
      display: flex;
    }

    ul li {
      list-style-type: none;
      padding-top: 2rem;
      margin: 0 auto;
      font-size: 1rem;
    }

    ul li a {
      text-decoration: none;
      color: $White;
    }
  }

  .header__hero h2 {
    position: relative;
    font-size: 1.4rem;
    font-family: 'AvenirNextLTPro-Demi';
    color: $White;
    height: 0;
    left: 7rem;
    bottom: 24rem;
  }

  .header__hero h1 {
    position: relative;
    font-size: 3.2rem;
    font-family: 'AvenirNextLTPro-Demi';
    color: $White;
    height: 0;
    left: 7rem;
    bottom: 21rem;
  }

  .hero__img--shows {
    opacity: 0.50;
    width: 100%;
    height: 36rem;
    max-width: 100%;
    object-fit: cover;
  }

  iframe {
    position: absolute;
    right: 5rem;
    top: 18rem;
  }
}

main {
  line-height: 160%;

  h2 {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'AvenirNextLTPro-Demi';
    padding-left: 7rem;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
  }

  .main__section--1 {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main__image--performance1 img {
    padding-bottom: 1.8rem;
    width: 100%;
  }

  aside {
    text-align: left;
    width: 35rem;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 1.1rem;

    span {
      font-size: 0.9rem;
    }
  }

  h3 {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

}

.shows__table--data {
  padding-top: 1.3rem;
  padding-bottom: 2.5rem;
  padding-left: 17rem;

  .button {
    padding: 15px 35px;
    text-transform: uppercase;
    font-family: 'AvenirNextLTPro-Bold';
    background-color: $BandSite-Black;
    color: $White;
    border-radius: 6px;
    border: none;
    text-decoration: none;
    display: block;
  }

  .table__data--header {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: 'AvenirNextLTPro-Bold';
    color: $Silver;
    border-bottom: 0px solid white;
  }

  .table__data--header {
    padding-right: 5rem;
  }

.table-row:hover {
  background-color: $Alabaster;
}

.table-row:active {
  background-color: $Mercury;
}

  .selected-row {
    background-color: #E1E1E1;
  }

  .data--date {
    padding-right: 5rem;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 0.9rem;
  }

  .data--venue,
  .data--location {
    padding-right: 5rem;
    font-size: 0.9rem;
  }


  table,
  td {
    border-bottom: 2px solid $Mercury;
    border-collapse: collapse;
  }

  tr {
    td {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
      font-size: 0.9rem;
    }
  }

}

footer {
  background-color: $BandSite-Black;
  color: $White;

  h2, .footer__block1--social {
    display: inline-block;
    padding-right: 2rem;
    padding-bottom: 4rem;
  }

  .footer__block1--social {
    padding-top: 2.2rem;
    padding-left: 22rem;
    position: absolute;
  }

  .footer__block1--social img {
    padding-right: 1.5rem;
    display: inline-block;
  }

  h3 {
    float: right;
    padding-right: 7rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'AvenirNextLTPro-Regular';
    a {
      text-decoration: none;
      color: $White;
  }
}
.footer__staff {
  display: flex;
  padding-left: 7rem;
  padding-top: 6rem;
  font-size: 0.9rem;
  .footer__staff--camAdams, .footer__staff--pearlGregg {
  margin-right: 3rem;
  }
}

.footer__copyright {
  padding-left: 7rem;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  @import "tablet";
}

@media only screen and (max-width: 480px) {
  body {
  font-size: 30px;
  }
  }